/* Product Cards Styles */

.products {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(230px, 1fr));
  gap: 10px;
  padding: 10px;
}

.productCard {
  border: 2px solid #66666634;
  box-shadow: 0px 5px 10px #66666650;
  padding: 1rem;
  border-radius: 7px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
 
.productCard__name {
  font-size: 1.5rem;
}

.productCard__dataBlock {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.productCard__data {
  font-size: 1.15rem;
}

.productCard__attribute {
  font-size: 1rem;
  color: #666666;
}

.productCard__container--categories {
  display: flex;
  flex-direction: column;
  row-gap: 7px;
}

.productCard__categories {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  gap: 7px;
}

.productCard__buttons {
  display: flex;
  column-gap: 5px;
  align-self: flex-end;
}

.productCard__button {
  padding: 5px 7px;
  border: 1px solid gray;
  background-color: #000;
  border-radius: 7px;
  font-size: 1.15rem;
  color: #fff;
  text-align: center;
  cursor: pointer;
}

/* Form Styles */

.productForm {
  padding: 2.4rem;
  background-image: url(/home-pic.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.productForm__container {
  padding: 15px;
  background-color: rgba(255,255,255,.5);
  border-radius: 7px;
}

.productForm,
.productForm__fields {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 10px;
}

.productForm__field {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 5px;
}

.productForm__button {
  padding: 5px 7px;
  border: 1px solid gray;
  background-color: #000;
  border-radius: 7px;
  font-size: .9rem;
  color: #fff;
  text-align: center;
  cursor: pointer;
}

.productForm__attribute {
  font-weight: 500;
}

.productForm__input {
  padding: 5px;
  border-radius: 5px;
}

@media screen and (min-width: 576px) {
  .productForm {

  }
}